* {
    margin: 0;
    box-sizing: border-box; /* Optional: Set box-sizing for consistent sizing */
  }

/* Search bar */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.searchBar {
    border: 1px solid grey;
    border-radius: 3rem;
    max-width: 500px;
    width: 71%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 4px 0px 16px;
}

#logo {
    width: 90px;
    height: 50px;
    padding-right: 2vw;
}

#input:focus {
    outline: none;
}

#input {
    border: none;
    font-family: Roboto,Noto,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;  
    max-width: 100%;
    text-align: inherit;
    width: 100%;
}


/* body */
.body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.video-detail {
    flex: 2;
    padding: 10px;
}

.video-list {
    flex: 1;
    padding: 10px;
}



/* Iframe (VideoDetail)*/
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
    height: 0;
    overflow: hidden;

}
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


/* Video list */
.video-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.video-thumbnail {
    flex: 0 0 120px; /* Thumbnail size */
    width: 168px;
    height: 94px;
    margin-right: 10px;
}

.video-info {
    flex: 1;
}

.video-title {
    margin: 0;
    font-weight: bold;
}



