@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    box-sizing: border-box; /* Optional: Set box-sizing for consistent sizing */
  }

/* Search bar */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.searchBar {
    border: 1px solid grey;
    border-radius: 3rem;
    max-width: 500px;
    width: 71%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 4px 0px 16px;
}

#logo {
    height: 50px;
    padding-right: 2vw;
}

#input:focus {
    outline: none;
}

#input {
    border: none;
    font-family: Roboto,Noto,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;  
    max-width: 100%;
    text-align: inherit;
    width: 100%;
}


/* body */
.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-detail {
    flex: 2;
    max-width: calc(100% - 402px);
    margin: 0 0 0 24px;
    padding: 24px 24px 0 0;
    box-sizing: border-box;
}

.video-list {
    flex: 1;
    max-width: 402px;
    padding: 24px 24px 0 0;
    box-sizing: border-box;
}



/* Iframe (VideoDetail)*/
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
    height: 0;
    overflow: hidden;

}
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#title {
    margin: 10px 0 5px 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

#channelTitle {
    margin-bottom: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

#description {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
}


/* Video list */
.video-item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    
}

.video-thumbnail {
    width: 168px;
    height: 94px;
    margin-right: 10px;
    border-radius: 8px;
}

.video-info {
    flex: 1;
}

.video-title {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 510;
}



@media (max-width: 1000px) {
    .body {
      flex-direction: column; /* Stack the iframe and video-list vertically */
    }
  
    .video-detail {
      max-width: 100%; /* Allow the video-container to take the full width when stacked */
      max-height: 100%;
      overflow: hidden
    }
  
    .video-list {
      max-width: 100%; /* Allow the video-list to take the full width when stacked */
      margin-left: 24px;
      max-width: 100%;
    }
}


@media (min-width: 1750px) {
    .video-detail {
        max-width: 1348px; /* Set max-width to 1348px to stop growing at 1750px (1750px - 402px) */
      }
    
    .body {
        margin: 0 auto;
        max-width: 1750px;
    }
}